In [82]:
'''
    1.按单位(人)分析
        * Top10排行榜
            -- 加班/剩余假期/工作延时次数/司龄/缺勤次数/迟到早退次数/平均工时
            -- 十大最忙员工？(公式指定原则：按照待在公司的时间长短来确定)
                * 计算公式：y = 剩余假期*0.1+加班*0.2+工作延时次数*0.3+平均工时*0.4 - (缺勤次数+迟到早退次数)*0.5 
    2.按单位(部门)分析
        * 
    3.按单位(公司)分析
        * 
'''
# 导入所需要的包
import pandas as pd
import numpy as np
import os 
os.chdir(r'F:\zhihu')

In [ ]:
'''
    1.按单位(人)分析
        * Top10排行榜
            -- 加班/剩余假期(剩余假期+剩余调休)/工作延时次数/司龄/缺勤次数/迟到次数/平均工时
            -- 十大最忙员工？(公式指定原则：按照待在公司的时间长短来确定)
                * 计算公式：y = 剩余假期*0.1+加班*0.2+工作延时次数*0.3+平均工时*0.4 - (缺勤次数+迟到早退次数)*0.5 
'''

In [83]:
# 读取文件_将此变量作为一个 内存变量保存
read_me = pd.read_excel('人员信息.xlsx',sheetname='sheet1',header=0)
# 定义一个函数排序字段
def data_ETL(data,field='公休日加班',reject='次',num=10):
    # 清洗数据并转换数据类型
    if data[field].dtype == 'object':
        data[field] = data[field].str.replace(reject,'').astype(np.float64)
    data = data.sort_values([field],ascending=False)
    return data[[field,'姓名']].head(num)

c:\python36\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [86]:
# 加班TOP10
overtime_top10 = data_ETL(read_me)
# 剩余假期TOP10
take = data_ETL(read_me,field='剩余调休',reject='天')
rest = data_ETL(read_me,field='剩余假期',reject='天')
read_me['剩余假期2'] = read_me['剩余调休'] + read_me['剩余假期']
rest_top10 = read_me.sort_values(['剩余假期2'],ascending=False).head(10)

# 工作延时次数TOP10
worktimedelay_top10 = data_ETL(read_me,field='工作日延时')
# 司龄TOP10
entertime_top10 = data_ETL(read_me,field='司龄',reject='')
# 缺勤次数TOP10
absence_top10 = data_ETL(read_me,field='缺勤')
# 迟到次数TOP10
belate_top10 = data_ETL(read_me,field='迟到早退')
# 平均工时TOP10
worktimeaverage_top = data_ETL(read_me,field='平均工时',reject='时/天')

read_me[['剩余调休','剩余假期','剩余假期2','姓名']].head()

   剩余调休  剩余假期  剩余假期2   姓名
0   0.0  15.0   15.0   夏阳
1   0.5   7.0    7.5  杨建蓉
2   1.0   6.0    7.0   王丹
3   1.0   5.0    6.0  曹先亚
4  -1.0   0.0   -1.0  杨玉玲

In [87]:
# 创建一个存放 加班 剩余假期 工作延时次数 平均工时 缺勤次数 迟到早退次数
# 以及优秀值的DataFrame 的集合
read_me2 = {}
read_me2['姓名'] = read_me['姓名']
read_me2['加班'] = read_me['公休日加班']
read_me2['剩余假期'] = read_me['剩余假期2']
read_me2['工作延时次数'] = read_me['工作日延时']
read_me2['平均工时'] = read_me['平均工时']
read_me2['缺勤次数'] = read_me['缺勤']
read_me2['迟到早退次数'] = read_me['迟到早退']
read_me2['忙碌值'] = 0.0
# 转换成dataframe类型
read_me2 = pd.DataFrame(read_me2)

In [88]:
# 计算公式：y = 剩余假期*0.1+加班*0.2+工作延时次数*0.3+平均工时*0.4 - (缺勤次数+迟到早退次数)*0.5 
read_me2['忙碌值'] = read_me2['剩余假期']*0.1+read_me2['加班']*0.2+read_me2['工作延时次数']*0.3+read_me2['平均工时']*0.4 \
                    - (read_me2['缺勤次数']+read_me2['迟到早退次数'])*0.5

In [89]:
# read_me2.head()
buys_top10 = read_me2.sort_values(['忙碌值'],ascending=False).head(10)
buys_top10

      姓名   加班  剩余假期  工作延时次数  平均工时  缺勤次数  迟到早退次数    忙碌值
490  张筱萱  3.5  15.0    13.0  14.9   2.0     0.0  11.06
186  王加平  2.0  27.5    11.0  12.2   1.0     0.0  10.83
464   苏印  3.0  28.0     8.0  13.8   1.0     0.0  10.82
190   黄锐  3.0  21.0    11.0  12.7   1.0     0.0  10.58
197   李健  3.0  17.5    10.0  12.5   1.0     0.0   9.85
399   陈彬  0.0  14.5    12.0  12.6   1.0     0.0   9.59
462  鲜奇霖  4.0  24.5     2.0  14.1   0.0     0.0   9.49
193  陈本辉  2.0  18.5    10.0  11.7   1.0     0.0   9.43
412  王保山  0.0  11.0    11.0  12.3   0.0     0.0   9.32
189  刘精华  1.5  21.0     9.0  11.3   1.0     0.0   9.12